*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #007BFF, #00BFFF);
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  } */
  

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #EFD5B3 0%, #79C3A7 100%);
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  
  h1 {
    text-align: center;
  }

  .container img{
    width: 25px;
    margin-left: 10px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 15px 50px;
    /* background-color: #007BFF; */
    background-color: #6FBF96;
    color: #fff;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .delete-btn {
    background-color: #DC3545;
    padding: 10px;
    margin: 10px;
  }
  